form {
    display: flex;
    justify-content: center;
    align-content: flex-start;
}

.input-search {
    padding: 5px;
}

.input-btn {
    border: none;
    padding: 5px;
    color: #000;
    background: #00AA00;
    cursor: pointer;
}

.input-btn:hover {
    background: #00CC00;
}

