.list-posts {
    padding: 10px;
    margin-top: 10px;
}

.list-posts h1 {
    text-align: center;
}

.list-posts .post {
    width: 800px;
    padding: 20px;
    line-height: 25px;
    margin: 15px auto;
    background: #FAFAFA;
    border-radius: 5px;
    border: 1px solid #BBB;
}

.list-posts .post p {
    color: #AAA;
    font-size: 15px;
}

.list-posts .post .link {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    display: flex;
    background: #555;
    color: #FFF;
    border-radius: 5px;
    text-decoration: none;
    justify-content: center;
}

.list-posts .post .link:hover {
    background: #DADADA;
    color: #333;
}